DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Development uses SQLite by default. To use PostgreSQL, uncomment this line
# and configure the connection values below.
# DB_ENGINE=postgresql
DB_NAME=retosean
DB_USER=retosean
DB_PASSWORD=retosean123
DB_HOST=localhost
DB_PORT=5433
