DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
SITE_URL=http://127.0.0.1:8000

DB_NAME=retosean
DB_USER=retosean
DB_PASSWORD=retosean123
DB_HOST=localhost
DB_PORT=5432

# Correo (HU15). En desarrollo se usa el backend de consola y no hace falta SMTP.
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=
# EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=RetosEAN <no-responder@universidadean.edu.co>

# Solo produccion
# CSRF_TRUSTED_ORIGINS=https://retosean.universidadean.edu.co
# SECURE_SSL_REDIRECT=True
