{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}
{% block page_title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="p-2">
    <p class="page-subtitle mb-4">Métricas generales del estado de la plataforma RetosEAN.</p>
    
    <div class="row g-4">

        <div class="col-md-4">
            <div class="card card-stat">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <span class="text-muted small text-uppercase fw-bold">Total Usuarios</span>
                        <h3 class="fw-extrabold mb-0 mt-1">{{ total_usuarios }}</h3>
                    </div>
                    <div class="stat-icon-box bg-info text-dark">
                        <i class="bi bi-people-fill"></i>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="col-md-4">
            <div class="card card-stat">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <span class="text-muted small text-uppercase fw-bold">Empresas Aliadas</span>
                        <h3 class="fw-extrabold mb-0 mt-1">{{ total_empresas }}</h3>
                    </div>
                    <div class="stat-icon-box bg-success text-white">
                        <i class="bi bi-building-check"></i>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card card-stat">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <span class="text-muted small text-uppercase fw-bold">Retos Publicados</span>
                        <h3 class="fw-extrabold mb-0 mt-1">{{ total_retos }}</h3>
                    </div>
                    <div class="stat-icon-box bg-warning text-dark">
                        <i class="bi bi-trophy-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}